<div id="header">
  <header id="header" data-hook>
    <div class="container">
      {{partial "logo"}}
      <nav class="navbar col-md-8" id="top-nav-bar">
        <ul id="nav-bar" class="nav navbar-nav navbar-right" data-hook>
          <li id="search-bar" data-hook>
            Search goes here
          </li>
        </ul>
        
      </nav>
    </div>
  </header>
  <div class="container">
    <nav class="col-md-12">
      <div id="main-nav-bar" class="navbar">
        <ul class="nav navbar-nav" data-hook>
          <li id="home-link" data-hook>{{#link-to 'products'}}Home{{/link-to}}</li>
        </ul>
        <ul class="nav navbar-nav navbar-right" data-hook>
          <li id="link-to-cart" data-hook>Cart</li>
        </ul>
      </div>
    </nav>
  </div>
</div>
