<div id="products" class="row" data-hook>
  {{#each}}
    <div id="product_{{unbound id}}" class="col-md-3 col-sm-6" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
      <div class="panel panel-default">
        <div class="panel-body text-center product-body">
          {{#link-to 'product' this}}
            <img src='{{unbound master.images.firstObject.small_url}}' /><br />
            {{name}}
          {{/link-to}}
        </div>
        <div class="panel-footer text-center">
          <span class="price selling lead" itemprop="price">{{ display_price }}</span>
        </div>
      </div>
    </div>
  {{/each}}
</div>