<script type="text/x-handlebars" id="products">
  <div id="products" class="row" data-hook>
    {{#each}}
      <div id="product_{{unbound id}}" class="col-md-3 col-sm-6" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
        <div class="panel panel-default">
          <div class="panel-body text-center product-body">
            {{#link-to 'product' this}}
              <img src='{{unbound master.images.firstObject.urls.small}}' /><br />
              {{name}}
            {{/link-to}}
          </div>
          <div class="panel-footer text-center">
            <span class="price selling lead" itemprop="price">{{ display_price }}</span>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</script>

<script type='text/x-handlebars' id='taxonomies'>
  Use taxonomies
</script>

<script type="text/x-handlebars" id="product">
  <div id="content" class="col-sm-12" data-hook>
    {{#link-to 'products'}}Products{{/link-to}}
    Showing a name: {{name}}
  </div>
</script>
