<script type='text/x-handlebars' id='taxonomies'>
  Use taxonomies
</script>

<script type="text/x-handlebars" id="product">
  <div id="content" class="col-sm-12" data-hook>
    {{#link-to 'products'}}Products{{/link-to}}
    Showing a name: {{name}}
  </div>
</script>
